@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:dhimitriossula@hotmail.com"> dhimitriossula@hotmail.com</a><br />
    <strong>Developer:</strong>   <a href="mailto:elvis.muzhaqi@gmail.com"> elvis.muzhaqi@gmail.com</a><br />
    <strong>Developer:</strong>   <a href="mailto:selvijaarmando@gmail.com"> selvijaarmando@gmail.com</a><br />
</address>